#input_text{
    color: black;
    font-size: 32px;
    margin-left: 10px;
}

#processed_text {
    text-align=center;
    margin: auto;
    color: red;
    font-size: 32px;
    margin-left: 10px;
}

#length{
    color: blue;
    font-size: 32px;
    margin-left: 10px;
}

#Null{
    font-size: 32px;
    margin-left: 10px;
}

#back_button{
    margin: auto;
    text-align: center;
    display: flex;
    display: grid;
    padding: 15px 32px;
    font-size: 20px;
    background-color: blue;
    border-color: blue;
    opacity: 0.75;
    color: white;
    border-radius: 4px;
    border: none;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
}

#back_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#back_button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#back_button:hover span {
    padding-right: 25px;
    opacity: 0.6;
}

#back_button:hover span:after {
    color: white;
    opacity: 0.6;
    right: 0;
}

div#main {
     border: solid 2px black;
     margin: auto;
     min-height: 100px;
}